@import 'globals';

.real-roll {

    &.themed-mode {
        background: none;

        .window-header {
            display: none;
        }

        .window-content {
            background: rgba(0, 0, 0, 0.566);
            backdrop-filter: blur(5px);
            border-radius: 5px;
            background-image: none;
            padding: 0;
            overflow: hidden;
        }

        .real-roll-formula {
            color: var(--real-roll-theme-accent);
            font-size: medium;
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        }

        button {
            border: 1px solid #ffffff24;
            border-radius: 0;
            color: var(--real-roll-theme-accent);
            background-color: rgb(111 111 111 / 10%);
            border-left: none;
            border-bottom: none;
            border-right: none;
            transform: scale(1.1);
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                background-color: var(--real-roll-theme-accent);
            }
        }

        .real-roll-input {

            color: var(--real-roll-theme-accent);
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

            &::placeholder {
                text-shadow: none;
            }

            &:focus,
            &:hover,
            &:active {
                filter: drop-shadow(0px 0px 5px var(--real-roll-theme-accent));
            }
        }
    }

    .real-roll-formula {
        text-align: center;
        padding-top: 0.5rem;
    }

    .form-group {
        gap: 0.3rem;
        justify-content: space-around;
        align-content: center;
        padding: 0.3rem 0;
    }

    .real-roll-container {
        padding: 0.5rem;

        &.real-roll-multi-row {
            .form-group {
                justify-content: flex-start;
            }
        }
    }

    .real-roll-input {
        aspect-ratio: 1;
        height: 3rem;
        width: 3rem;
        max-height: 3rem;
        max-width: 3rem;
        font-size: larger;
        font-weight: 900;
        text-align: center;
        background-position: center;
        background-size: contain;
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;

        &.total {
            margin-left: auto;
        }

        &:focus,
        &:hover,
        &:active {
            border: none;
            box-shadow: none;
            filter: drop-shadow(0px 0px 5px var(--color-shadow-primary));
        }
    }
}

#chat-controls .control-buttons {
    display: flex;

    a {
        width: 25px;
    }
}

.chat-message:has(.real-roll-message) {
    .message-header {
        display: none;
    }
    background: transparent;
    background-color: var(--real-roll-message-color);
}